html , body {
    --nav_line: 60px;
    --aboutNav: 100px;
    --servicePadding: 15px;
    --padding: 100px;
    --heightButton: 50px;
    --bgHeight: 200px;
}
/*primary colors*/
$white-cl: #fff;
$black-cl: #000;
$bg2-cl: antiquewhite;
/*global text color*/
$text-cl: #222;
/*global bg color*/
$hover-cl: #c7a17a;
$main-cl:#fffbf2;
$sub-cl: #AD9A74;
$t: 0.4s;
